@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
	background-color: pink;
}

h1{
	color: #b30555;
	text-align: center;
	font-size: 50px;
}

.red{
	font-weight:bold;
	color:red;
}

label {
	font-weight:bold;
	font-size: 20px;
	color: #000366;
}

#connect{
	margin-left: auto;
	margin-right: auto;
}
#connect input[type=text], input[type=password]{
	text-align: center;
	font-size: 30px;
	padding:10px;
	border-radius: 20%;

}

.case input[type=submit]{
	display: none;
}

.case:hover input[type=submit]{
	display: inline-block;
	text-align: center;
}

	#boutton input[type=submit]{
		margin-left: auto;
		margin-right: auto;
    background-color: #4CAF50;
    border: none;
		width: 100%;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.calendar table{
	width: 80%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.addEvent label{
	font-weight:bold;
	font-size: 20px;
	color: #000366;
}

#content {
	height: 80%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.case {
	border: 1px solid black;
	text-align: center;
}

.case:hover {
	background-color: #b30000;
	border: 1px solid black;
	text-align: center;
}

.event{
		font-size: 20px;
}

li ul {
	text-align: center;
}
